.button2 {
  background-color: #f8f8f8;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 13.5px;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:hover {
  background-color: #1e293b;
  color: #fff;
}
.button3 {
    background-color: #f8f8f8;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13.5px;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 0.8rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.buttons {
    outline: solid black 1px;
    background-color: rgb(220, 220, 220);
    opacity: 0;
    transition: opacity 0.5s;
    outline: 1px solid black;
}

.for_transition {
    opacity: 0;
    transition: opacity 0.5s;
}

/* animation of spill causes */
.custom-legend {
    opacity: 0;
    transition: opacity 0.5s;
    outline: 1px solid black;
}

/* for the text above slider */
.hl_text {
    background-color: #f8f8f8;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13.5px;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


#q {
    background: #f8f8f8;
    border-radius: 4px;
    padding: 7px;
    font-size: 12px;
    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }




body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #333;
    font-weight: 400;
    }
.state {
    fill: #212121;
    stroke: #333;
    stroke-width: 0.5;
    }
.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.9em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    }

.tooltip p {
    margin: 0;
    padding: 0;
    }

.tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    }


.tooltipMain {
    border:1px solid black;
    position:absolute;
    top:0px;
    right:19px;

}

.tooltipMain .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -500%;
  left: 0%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipMain .tooltiptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipMain:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.custom-slider {
  -webkit-appearance: none;
  width: 54.5%;
  height: 5px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider {
    margin-top: -5px;
    margin-left: -5px
}

.year {
    font-size: 14px;
    position:absolute; left:359px; top:36px;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.col1 {
    margin-left: -14px;
}

.h1-text {
    background-color: #f8f8f8;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;    
}
.p-text {
    background-color: #f8f8f8;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: auto;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;      
}
br {
    content: "";
    margin: 1em;
    display: block;
    font-size: 24%;
  }
